.welcome-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    .welcome-version{
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
    }

    .welcome-sectionTitles{
        width: 100%;
        text-align: left;
        font-size: 1rem;
        font-weight: 700;
    }

    .welcome-sectionBodies{
        width: 100%;
        text-align: left;
        font-size: 0.75rem;
    }
    .welcome-sectionLists{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        list-style-position: outside;
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 490px) {
	html {
		body {
            .welcome-content{
                .welcome-version{
                    font-size: 1.2rem;
                }
            
                .welcome-sectionTitles{
                    font-size: 1rem;
                }
            
                .welcome-sectionBodies{
                    width: 100%;
                    text-align: left;
                    font-size: 1.1rem;
                }
            }
		}
	}
}
